<html>
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <h1>
        <b>Person Parameter is : <%= ID%><br>
        <b>Person QueryString is : <%= QueryString%>
        </h1>
    </body>
</html>